$primaryBtn: rgb(98, 106, 218);
$textcolor: rgb(71, 10, 10);


@mixin flexcenter($height,$width){
    display: flex;
    justify-content: center;
    align-items: center;
    height: $height;
    width: $width;
    
}

@mixin color($color) {
    background-color: $color;
    
}

header{

    @include flexcenter(300px,100%);
   
   @include color(rgb(230, 102, 102));
    color: $textcolor;
    
    

    button{
        background: $primaryBtn;
        border-radius: 20px;
        margin-left: 15px;

        &:hover{
            background: rgb(211, 68, 68);
        }
       
    }
}
